@model NWBA_Web_Admin.Models.ViewModels.CustomerDetailsViewModel

@{
    ViewData["Title"] = "Customer Details";
}

<h1>Customer Details</h1>

<div>
    <h4>Customer @Model.Customer.CustomerName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Tfn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Tfn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.PostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.PostCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Login.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Login.Status)
        </dd>
    </dl>
    <a asp-action="EditCustomer" asp-route-id="@Model.Customer.CustomerId">Edit Customer Details</a> |
    <a asp-action="DeleteCustomer" asp-route-id="@Model.Customer.CustomerId">Delete Customer</a>

</div>
<hr />
<div>
    <h3>Accounts</h3>
    @if (Model.Accounts.Count != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(x => x.Accounts[0].AccountNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Accounts[0].AccountType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Accounts[0].Balance)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Account account in Model.Accounts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => account.AccountNumber)
                        </td>
                        <td>
                            @if (account.AccountType == "S")
                            {
                                @Html.Raw("Savings");
                            }
                            else
                            {
                                @Html.Raw("Checking");
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => account.Balance)
                        </td>
                        <td>
                            <a asp-controller="Transactions" asp-action="Graphs" asp-route-id="@account.CustomerId">Statistics</a> |
                            <a asp-controller="Billpays" asp-action="ScheduledBillPays" asp-route-id="@account.AccountNumber">Scheduled Payments</a> |
                            <a asp-controller="Accounts" asp-action="DeleteAccount" asp-route-id="@account.AccountNumber">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <br>
        <bold> @Model.Customer.CustomerName has no accounts to display </bold>
        <br><br>
        <hr>
    }
</div>

<div>
   
    <a asp-action="ViewCustomers">Back to Customers</a>
</div>
